body {
  background: #000;
  margin: 0;
}
/* Текст заголовка РЕГИСТРАТУРА */
.gradient-1 {
  display:inline-block;
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  animation: Gradient 15s linear infinite;
}
@keyframes Gradient {
  0% {
    background-position: 200% 0%
    /*background: linear-gradient(red, yellow);*/
  }
  50% {
    background-position: 100% 0%
    /*background: linear-gradient(green, blue);*/
  }
  100% {
    background-position: 0% 0%
    /*background: linear-gradient(red, yellow);*/
  }
}
.svg1 {
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px solid #000;
}
.circle-1 {
  position: absolute;
  left: 25px;
  top: 25px;
  fill: transparent;
  stroke-width: 3px;
  stroke: green;
}

.spinner {
  width: 200px;
  height: 200px;
  margin: 20px auto;
}

.outer {
  border: 1em solid #ddd;
  border-top: 1em solid green;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: relative;
  animation: rotate-outer 10s linear infinite;
  box-shadow: 0 0 30px 30px #990;
}

.inner {
  border: 0.75em solid #eee;
  border-top: 0.75em solid red;
  border-radius: 50%;
  position: absolute;
  top: 1.25em;
  left: 1.25em;
  width: calc(100% - 4em);
  height: calc(100% - 4em);
  animation: rotate-inner 6s linear infinite;
  box-shadow: 0 0 27px 27px #990;
}
.in-inner {
  border: 1.0em solid #eee;
  border-top: 1.0em solid orange;
  border-radius: 50%;
  position: absolute;
  top: 1.25em;
  left: 1.25em;
  width: calc(100% - 4.5em);
  height: calc(100% - 4.5em);
  animation: rotate-inner 4s linear infinite;
  box-shadow: 0 0 27px 27px #990;
}
.in-in-inner {
  background-color: #990;
  border-radius: 50%;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 30px 7px #990, 0 0 30px 7px #990 inset;
}

@-webkit-keyframes rotate-outer  {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }  
}

@-webkit-keyframes rotate-inner  {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

#layout {
  background: #000; /*linear-gradient(90deg, #000 45%, #ff0, #000 55%);*/
  background-size: 200% 100%;
  /*animation: Gradient 15s linear infinite;*/
  overflow: hidden;
  text-align: center;
}

/* Текст заголовка РЕГИСТРАТУРА */
.col2 > span {
  font-size: 68px;
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  animation: Gradient 15s linear infinite;
}
@keyframes Gradient {
  0% {
    background-position: 200% 0%
    /*background: linear-gradient(red, yellow);*/
  }
  50% {
    background-position: 100% 0%
    /*background: linear-gradient(green, blue);*/
  }
  100% {
    background-position: 0% 0%
    /*background: linear-gradient(red, yellow);*/
  }
}

.my-img:hover {
  animation: leaves 2s linear;
}

.grow { transition: all 1.0s ease-in-out; }
.grow:hover { transform: scale(1.3); }

@keyframes leaves {
  0% {
    /*background-size: 16px 16px;
    /*-webkit-transform: background-size: 16px 16px;*/
    transform: scale(1.0);
  }
  50% {
    /*background-size: 24px 24px;
    /*-webkit-transform: background-size: 24px 24px;*/
    transform: scale(1.125);
  }
  100% {
    /*background-size: 16px 16px;
    /*-webkit-transform: background-size: 16px 16px;*/
    transform: scale(1.25);
  }
}

#animate-area {
    width: 1124px;
    height: 190px;
    background-image: url(../images/picture/bg-clouds.png);
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 10s linear infinite;
    -ms-animation: animatedBackground 40s linear infinite;
    -moz-animation: animatedBackground 40s linear infinite;
    -webkit-animation: animatedBackground 10s linear infinite;
}

@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.footer {
  color: white;
  text-align: center;
  height: 45px;
  line-height: 45px;
  animation: color_change 10s infinite alternate;
}
@keyframes color_change {
  0% { background-color: #800080; }
  25% { background-color: Blue; }
  50% { background-color: Green; }
  75% { background-color: Orange; }
  100% { background-color: Red; }

}
.gl-res {
  color: gold;
  font-size: 28px;
  font-family: Tahoma;
  border-top: 1px solid gold;
  border-bottom: 1px solid gold;
}

#space-outer {
  width: 100%;
  height: 1610px;
  max-height: 1610px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
  z-index: -10;
}

#space {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -9999;
  animation:mymove 500s linear infinite;
  /*transform-origin: 50% 50%;*/
  transform-origin: 800px 800px;
}
@keyframes mymove {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.star {
  position: absolute;
  opacity: 0.95;
  z-index: -9999;
  border-radius: 50%;
  box-shadow: 0 0 15px 15px yellow;
  animation:star-move 15s linear infinite;
}
@keyframes star-move {
  0% {box-shadow: 0 0 10px 10px #57bb8a;}
  5% {box-shadow: 0 0 9px 9px #73b87e;}
  10% {box-shadow: 0 0 8px 8px #94bd77;}
  15% {box-shadow: 0 0 7px 7px #b0be6e;}
  20% {box-shadow: 0 0 6px 6px #d4c86a;}
  25% {box-shadow: 0 0 5px 5px #f5ce62;}
  30% {box-shadow: 0 0 4px 4px #e9b861;}
  35% {box-shadow: 0 0 3px 3px #ecac67;}
  40% {box-shadow: 0 0 2px 2px #e79a69;}
  45% {box-shadow: 0 0 1px 1px #e2886c;}
  50% {box-shadow: 0 0 0px 0px #dd776e;}
  55% {box-shadow: 0 0 1px 1px #e2886c;}
  60% {box-shadow: 0 0 2px 2px #e79a69;}
  65% {box-shadow: 0 0 3px 3px #ecac67;}
  70% {box-shadow: 0 0 4px 4px #e9b861;}
  75% {box-shadow: 0 0 5px 5px #f5ce62;}
  80% {box-shadow: 0 0 6px 6px #d4c86a;}
  85% {box-shadow: 0 0 7px 7px #b0be6e;}
  90% {box-shadow: 0 0 8px 8px #94bd77;}
  95% {box-shadow: 0 0 9px 9px #73b87e;}
  100% {box-shadow: 0 0 10px 10px #63b682;}
}